<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aptitudes</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div>
        <div class="idioma">
            <h2>HTML</h2>     
        </div>

        <div class="nivel">
            <h4>Fluidez</h4>
            <progress min="0" max="100" value="30"></progress>
        </div>
    </div>
    <br>

    <div>
        <div class="idioma">
            <h2>CSS</h2>
            
        </div>

        <div class="nivel">
            <h4>Fluidez</h4>
            <progress min="0" max="100" value="20"></progress>
        </div>
    </div>
    <br>
    <div>
        <div class="idioma">
            <h2>JS</h2>
            
        </div>

        <div class="nivel">
            <h4>Fluidez</h4>
            <progress min="0" max="100" value="40"></progress>
        </div>
    </div>
    <br>

    <div>
        <div class="idioma">
            <h2>Mongo</h2>
            
        </div>

        <div class="nivel">
            <h4>Fluidez</h4>
            <progress min="0" max="100" value="40"></progress>
        </div>
    </div>
    <br>

    <div class="rutas">
        <div class="ruta"> 
            <a href="/">Inicio</a>
        </div>

        <div class="ruta"> 
            <a href="/acerca">Yo</a>
        </div>

        <div class="ruta"> 
            <a href="/experiencia">Experiencia</a>
        </div>
    
    
        <div class="ruta">
            <a href="/educacion">Educacion</a>
        </div>
    
        <div class="ruta">
            <a href="/idiomas">Idiomas</a>
        </div>
    </div>
    
</body>
</html>