<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educacion</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div>
        <div class="perfil1">
            <img src="/img/usb.jpg" alt="">
        </div>

        <div class="titulo">
            <p>Ingenieria Mecatronica</p>
        </div>
    </div>
    <br>

    <div>
        <div class="perfil1">
            <img src="/img/sena.jpg" alt="">
        </div>

        <div class="titulo">
            <p>Tecnico en Instalaciones Electricas</p>
        </div>
    </div>
    <br>

    <div>
        <div class="perfil1">
            <img src="/img/bictia.png" alt="">
        </div>

        <div class="titulo">
            <p>Fundamentos de Pragramacion</p>
      
        </div>
        <div class="titulo">
          
            <p>Desarrollo Web Full Stack</p>
        </div>
    </div>

    <div class="rutas">
        <div class="ruta"> 
            <a href="/">Inicio</a>
        </div>

        <div class="ruta"> 
            <a href="/acerca">Yo</a>
        </div>

        <div class="ruta"> 
            <a href="/experiencia">Experiencia</a>
        </div>
    
    
        <div class="ruta">
            <a href="/idiomas">Idiomas</a>
        </div>
    
        <div class="ruta">
            <a href="/aptitudes">Aptitudes</a>
        </div>
    </div>
    
</body>
</html>