<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idiomas</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div>
        <div class="idioma">
            <h2>Español</h2>
            
        </div>

        <div class="nivel">
            <h4>Nativo</h4>
            <progress min="0" max="100" value="98"></progress>
        </div>
    </div>
    <br>

    <div>
        <div class="idioma">
            <h2>Ingles</h2>
            
        </div>

        <div class="nivel">
            <h4>Fluidez</h4>
            <progress min="0" max="100" value="85"></progress>
        </div>
    </div>
    <br>

    <div class="rutas">
        <div class="ruta"> 
            <a href="/">Inicio</a>
        </div>

        <div class="ruta"> 
            <a href="/acerca">Yo</a>
        </div>

        <div class="ruta"> 
            <a href="/experiencia">Experiencia</a>
        </div>
    
    
        <div class="ruta">
            <a href="/educacion">Educacion</a>
        </div>
    
        <div class="ruta">
            <a href="/aptitudes">Aptitudes</a>
        </div>
    </div>
    
</body>
</html>