<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduardo</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <a href="/"></a>
    <div class="yo">
        <img class="foto" src="/img/ed.jpg" alt="">      
    </div>

    <div class="rutas">

        <div class="ruta"> 
            <a href="/acerca">Yo</a>
        </div>
    
        <div class="ruta">
            <a href="/experiencia">Experiencia</a>
        </div>
    
        <div class="ruta">
            <a href="/educacion">Educacion</a>
        </div>
    
        <div class="ruta">
            <a href="/idiomas">Idiomas</a>
        </div>
    
        <div class="ruta">
            <a href="/aptitudes">Aptitudes</a>
        </div>
    </div>
    
</body>
</html>