<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="perfil">
        <p>Ingeniero Mecatrónico en formación con conocimientos en programación de sistemas SCADA, 
            PLC y FPGA, interesado en labores operativas, de diseño, implementación y mantenimiento 
            asistidos en sectores industriales. Compromiso con las labores asignadas, pensamiento 
            estratégico, adaptabilidad y facilidad para el trabajo en equipo, habilidades de comunicación.</p>
    </div>
    <div class="rutas">
        <div class="ruta"> 
            <a href="/">Inicio</a>
        </div>
    
        <div class="ruta">
            <a href="/experiencia">Experiencia</a>
        </div>
    
        <div class="ruta">
            <a href="/educacion">Educacion</a>
        </div>
    
        <div class="ruta">
            <a href="/idiomas">Idiomas</a>
        </div>
    
        <div class="ruta">
            <a href="/aptitudes">Aptitudes</a>
        </div>
    </div>
    
</body>
</html>